


<p id="notice"><%= notice %></p>



    <div class="collection">

      <a class="collection-item" href="#modal1">Import CSV </a>

    </div>
  </div>


  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h3>Upload CSV</h3>
      <%= form_tag({action: :submit}, multipart: true) do %><br>
        <%= file_field_tag 'CSV' %><br>
        <!-- <h4>Unit Availability Update</h4> -->
        <p>Upload your csv to update the unit availability.</p><br>
        <%= submit_tag("Upload") %>
      <% end %>
    </div>
  </div>



</div>
