<div class="parallax-container">
      <div class="parallax">
        <div class="transparency"></div>
          <%= image_tag("frontpageimage.jpg", :alt => "home decor") %>
        </div>
        <h2>Wyn Yield Maximizer</h2>
      </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Yield Maximizer</h2>
        <p class="grey-text text-darken-3 lighten-3">Make the most our of your investments</p>
    </div>
  <div class="row container">
      <h4 class="light">Yield Maximizer</h4>

    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax">
      <%= image_tag("frontpageimage2.jpg", :alt => "home decor") %>
    </div>
  </div>
