<div class="parallax-container">
      <div class="parallax">
          <%= image_tag("frontpageimage.jpg", :alt => "rss feed") %>
        </div>
      </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Yield Maximizer</h2>
        <p class="grey-text text-darken-3 lighten-3">profits for days...</p>
    </div>
  <div class="row container">
      <h4 class="light">Yield Maximizer</h4>

    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax">
      <%= image_tag("frontpageimage2.jpg", :alt => "rss feed") %>
    </div>
  </div>





<p>© <%= Date.today.year %> Wyn Maximizer.</p>
